@model MoviesAspFinalProject.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actors)
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Actors)
                {
                    <li>@item.ToString()</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>

        <dd id="@(Request.IsAuthenticated ? "RatingsControl" : "")">
            @{ Html.RenderAction("RatingsControl", "Ratings", new { MovieId = Model.MovieId });}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
                
    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function SetRatingControlCallBacks(e) {
            var MovieRating = $("#RatingsControl a[name='MovieRating']");
            MovieRating.on('click', SetRating);
        }

        function SetRating(e) {
            var data = { MovieId: $(this).data("movieid"), MovieRating: $(this).data("movierating") };

            $.post("@Url.Action("SetRating","Ratings")", data)
                .done(function (response, status, jqxhr) {
                    var url = "@Url.Action("RatingsControl","Ratings")";

                    $("#RatingsControl").load(url, { MovieId: data.MovieId },
                        function (responseText, statusText, xhr) {
                            switch (statusText) {
                                case "success":
                                    SetRatingControlCallBacks();
                                    break;
                                default:
                                    break;
                            }
                            if (responseText.length == 0) {
                            }
                        });

                })
                .fail(function (jqxhr, status, error) {
                })
        }

        $(document).ready(SetRatingControlCallBacks);
    </script>
}