@model IEnumerable<MoviesAspFinalProject.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratings)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actors.Count)
        </td>
        <td>
            @item.OverallRating.ToString("F1")
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MovieId })
            @if (Request.IsAuthenticated)
            {
                <span> | </span>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieId });
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieId });
            }
        </td>
    </tr>
}

</table>
