@model MoviesAspFinalProject.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

        @if (Model.DeathDay.CompareTo(Model.BirthDay) > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DeathDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeathDay)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasOskar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasOskar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movies)
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Movies)
                {
                    <li>@item.Movie.ToString()
                        <p>Role Name: @item.ToString()</p></li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ActorId })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
